name: Deploy Website

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            git config --global --add safe.directory /home/ubuntu/website
            cd /home/ubuntu/website
            git pull origin main

            cd react-frontend
            npm install
            npm run build

            cd ../node-backend
            npm install
            pm2 restart backend || pm2 start server.js --name backend