name: Deploy to EC2

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: AWS

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            curl -fsSL https://deb.nodesource.com/setup_20.x | sudo -E bash -
            apt install nodejs -y

            cd /home/ubuntu/react-nodejs-example
            git pull origin master
            git checkout master

            cd /home/ubuntu/react-nodejs-example/my-app
            npm install
            npm run build

            cd /home/ubuntu/react-nodejs-example/api
            npm install pm2 -g
            npm install
            pm2 restart backend || pm2 start server.js --name backend